/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');

/* Set default font family for the page */
body {
  font-family: 'Big Shoulders Text', cursive;
}

/* Remove list-style-type and padding from nav list items */
.nav-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  z-index: 100;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0; /* Add margin to reset default margin */
}

.nav-flex-row li {
  text-decoration: none;
  list-style-type: none;
  padding: 20px 15px;
  margin: 0; /* Add margin to reset default margin */
}

/* Add hover effect to nav links */
.nav-flex-row li a {
  color: #ffffff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
  transition: color 0.2s ease-in-out;
}

.nav-flex-row li a:hover {
  color: #95999e;
}

/* Style section intro */
.section-intro {
  height: 820px;
  background-image: url(img/petr-sevcovic-qE1jxYXiwOA-unsplash.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-intro h1 {
  text-align: center;
  color: #ffffff;
  font-size: 4em;
  font-weight: 700;
}

/* Style about section */
.about-section {
  display: flex;
  align-items: center;
  background-color: #f3f3f3c0;
  padding: 50px 30px;
}

.about-section p,
.about-section h3 {
  text-align: center;
  margin: auto;
  font-size: 1.8em;
  text-transform: uppercase;
}

.link-to-book-wrapper {
  flex: 1;
}

.link-to-book {
  color: #ffffff;
  display: block;
  border: 2px solid #ffffff;
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
}

.link-to-book:hover {
  background-color: #ffffff;
  color: #95999e;
  text-decoration: none;
}

/* Style carousel */
.carousel-inner {
  height: 700px;
}

/* Style form */
.row-flex {
  display: flex;
  flex-direction: row;
}

.flex-column-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 30px 20px;
}

.btn.btn-primary {
  color: #ffffff;
  background-color: #95999e;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 10px;
  letter-spacing: 2px;
  border: 0;
  transition: background-color 0.2s ease-in-out;
}

.btn.btn-primary:hover {
  background-color: #747474;
}

.opening-time,
.contact-adress {
  flex: 1;
  margin: 30px 20px;
  font-size: 1.2em;
}

.form-group p {
  font-size: 1.2em;
}

.opening-time p span,
.contact-adress p span
